* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, sans-serif;

    background-color: #f1f1f1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.todo-app {
    background-color: #fff;

    padding: 20px;

    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(9, 9, 9, 0.1);

    width: 300px;
}

.todo-app__title {
    font-size: 24px;
    text-align: center;

    margin-bottom: 20px;
}

.todo-app__input-container {
    display: flex;
    margin-bottom: 20px;
}

.todo-app__input {
    flex: 1;

    padding: 10px;

    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

.todo-app__button {
    margin-left: 10px;
    padding: 10px;

    background-color: #9a48d8;

    color: #fff;

    border: none;
    border-radius: 4px;
    
    cursor: pointer;
}

.todo-app__button:hover {
    background-color: #883cc2;
}

.todo-app__list {
    list-style: none;
}

.todo-app__list-item {
    background-color: #f6f6f6;
    
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #e1e1e1;
    border-radius: 4px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-app__delete-button {
    background-color: #dd3344;

    color: #fff;
    
    border: none;
    border-radius: 4px;

    padding: 5px 10px;

    cursor: pointer;
}

.todo-app__delete-button:hover {
    background-color: #c12535;
}